:root {
    --gray: #4f6d7a;
    --grayBlue: #c0d6df;
    --neutral: #DBE9EE;
    --blue: #4A6FA5;
    --bluer: #166068;
    --black: black;
    --white: #fff;
    --green: #49fb35;
    --purple: #c519ff;
}

* {
    border: #fff;
        border-style: solid;
        border-width: 1px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--gray);
}

header {
    padding: 1vw;
    display: flex;
    justify-content: space-between;
    min-height: 30px;
    background-color: var(--grayBlue);
    max-width: 100%;
}

h1,
h2 {
    color: var(--white);
}

div a {
    text-decoration: none;
}

main {
    max-width: 100%;
    width: 100vw;

}

button {
    border-radius: 12px;
}

.header {
    max-width: 100%;
    width: 100vw;
}

.selection {
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}

.quiz {
    display: flex;
}

.game {
    
}

.title {
    display: flex;
    justify-content: center;
    margin: 2vw;
}

#start {
    display: flex;
    justify-content: center;
    min-height: 50px;
}

#highscore {
    height: 3vw;
}

#rightWrong {
    display: flex;
    justify-content: center;
    margin: 10px;
}



#startButton {
    margin: 2vw;
    min-width: 100px;
    min-height: 30px;
    background-color: var(--neutral);
    color: var(--black);
    font-weight: bolder;
    border: #fff;
    border-style: solid;
    border-width: 1px;
}

